@font-face {
    font-family: "Gotham Narrow Ultra Italic";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/GothamNarrow-UltraItalic.otf") format("opentype");
}

@font-face {
    font-family: "Gotham Narrow Book";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Gotham-Narrow-Book.otf") format("opentype");
}

@font-face {
    font-family: "Gotham Narrow Bold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/GothamNarrow-Bold.otf") format("opentype");
}